@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2 {
  text-transform: uppercase;
}

body {
  background-color: #c7fc55;
  overflow-x: hidden;
  width: 100%;
  font-size: 16px;
}

body nav {
  background-color: black;
  text-transform: uppercase;
  z-index: 99;
}

body nav img {
  height: 2em;
}

body nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav a {
  color: white;
  font-size: 1em;
}

body nav a:hover {
  color: #c7fc55;
}

body nav select {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  border: none;
}

body nav select option {
  background-color: #55c7fc;
  background-color: black;
  border: none;
}

body nav select:hover {
  color: #c7fc55;
}

body nav .current {
  color: #55c7fc;
}

body nav .ul-pad-initial {
  padding-block: 1em;
}

body nav .ul-pad-final {
  padding-block: .3em;
}

body #toppagebtn {
  position: fixed;
  bottom: 1%;
  right: 1%;
  opacity: .1;
  -webkit-transition: .3s;
  transition: .3s;
}

body #toppagebtn:hover {
  opacity: 1;
}

body .deal-box {
  height: 50vh;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

body .deal-box .deals {
  height: 64vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - var(--scrollbar-height));
  width: 100vw;
  scroll-snap-align: start;
  font-size: 3.5ch;
}

body .deal-box .banner-img {
  width: 100%;
  background-position: center bottom;
  z-index: -1;
}

body #container {
  width: 65%;
  margin: 10rem auto;
  border: 1em solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #container #box-1-0 {
  background-color: #ff3b3b;
  text-align: center;
}

body #container #box-1-0 h1 {
  font-size: 2em;
  padding: 1.2em;
}

body #container #box-1-0 #box-1-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body #container #box-1-0 #box-1-1 .box-1-2 {
  color: white;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  /*.mid{
                        border-block: .25em solid $third-color;
                    }*/
}

body #container #box-1-0 #box-1-1 .box-1-2 .lil-box {
  width: 100%;
  height: 17em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #container #box-1-0 #box-1-1 .box-1-2 .lil-box .first {
  width: 66%;
}

body #container #box-1-0 #box-1-1 .box-1-2 .lil-box .second {
  width: 33%;
}

body #container #box-1-0 #box-1-1 .box-1-2 .rowrev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body #container #box-1-0 .simple-txt {
  width: 80%;
  margin: auto;
  font-size: 1.5rem;
  padding-bottom: 3rem;
}

body #container #box-2-0 {
  background-color: #ff893b;
  padding-block: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

body #container #box-2-0 .box-2-1 {
  width: 45%;
  line-height: 1.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body #container #box-2-0 .box-2-1 p {
  margin-top: 1em;
}

body #container #box-2-0 h1 {
  font-size: 2em;
}

body #container #box-2-0 iframe {
  width: 35em;
  aspect-ratio: 16/9;
}

body #container #join-our-team {
  background-color: #ffff77;
  text-align: center;
  padding-block: 5em;
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #container #join-our-team .form {
  width: 80%;
  line-height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body #container #join-our-team .form label {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

body #container #join-our-team .form input {
  width: 100%;
  font-size: 1em;
  border: none;
  padding: .5em 0 .5em 1em;
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
}

body #container #join-our-team .form select {
  width: 100%;
  font-size: 1em;
  border: none;
  padding: .5em 0 .5em 1em;
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
  text-transform: uppercase;
}

body #container #join-our-team .form .input_btn {
  background-color: white;
  color: #fc8a55;
  font-weight: 900;
  font-size: 1em;
  border: 8px solid black;
  border-radius: 20px;
  padding: 1em;
  text-transform: uppercase;
  width: 15em;
  margin: 2em auto 2.3em auto;
  -webkit-transition: .09s;
  transition: .09s;
}

body #container #join-our-team .form .input_btn:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

body #container a {
  background-color: white;
  color: #fc8a55;
  font-weight: 900;
  font-size: 1em;
  border: 8px solid black;
  border-radius: 20px;
  padding: 1em;
  text-transform: uppercase;
  width: 15em;
  /*margin-top: 2em;*/
  -webkit-transition: .09s;
  transition: .09s;
}

body #container a:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

body #container #header {
  margin-inline: 4em;
}

footer {
  background-color: #fc8a55;
  padding-top: 1em;
  text-transform: uppercase;
  width: 100%;
}

footer,
footer h2 {
  font-size: 1.1em;
}

footer a {
  color: white;
}

footer a:hover {
  color: #c7fc55;
}

footer .ftr-bxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer #socials {
  padding-block: 1em;
}

footer #socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer #socials img {
  height: 3.5em;
  background-color: black;
  padding: 1em;
  border: 3px solid black;
  border-radius: 10% 40%;
}

footer #socials img:hover {
  border: 3px solid #c7fc55;
}

footer #abs-btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #abs-btm #ftr-logo-bx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #abs-btm #ftr-logo-bx img {
  height: 2em;
}

.flex-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.banner {
  height: 325px;
  width: 100%;
  color: white;
  background-color: #ff3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner #banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
}

.banner #banner-container img {
  height: 10rem;
  /*height: 9em;*/
}

.banner #banner-container h1 {
  font-size: 7rem;
  /*font-size: 9em;*/
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.banner #banner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Shop Page Styling */
#shop-container {
  width: 85vw;
  min-height: 50vh;
  margin: auto;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.categories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  background-color: rgba(127, 255, 212, 0.25);
}

.category {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: .25em;
  margin: .5em;
}

.shop-products {
  background-color: rgba(230, 230, 230, 0.25);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.shop-item {
  /*height: 100%;*/
  aspect-ratio: 1/1.3;
  width: 100%;
  border: 2px rgba(230, 230, 230, 0.5) solid;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop-item img {
  height: 90px;
}

.shop-item:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.shop-item .productPrice {
  font-weight: 700;
}

.shop-item .shop-item-button {
  border-radius: 20px;
  margin: 10px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop-item .shop-item-button p {
  padding-inline: 10px;
  width: 60px;
  text-align: center;
}

.shop-item button {
  font-size: 35px;
  width: 45px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
  background-color: #f2f2f2;
}

.shop-item button:hover {
  background-color: rgba(204, 204, 204, 0.5);
}

.shop-item button:active {
  background-color: #cccccc;
}
