@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2 {
  text-transform: uppercase;
}

body {
  background-color: #c7fc55;
  overflow-x: hidden;
  min-height: 100vh;
}

body nav {
  background-color: black;
  text-transform: uppercase;
  z-index: 99;
}

body nav img {
  height: 3.5em;
}

body nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav a {
  color: white;
  font-size: 1.5em;
}

body nav a:hover {
  color: #c7fc55;
}

body nav select {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  border: none;
}

body nav select option {
  background-color: #55c7fc;
  background-color: black;
  border: none;
}

body nav select:hover {
  color: #c7fc55;
}

body nav .current {
  color: #55c7fc;
}

body nav .ul-pad-initial {
  padding-block: 2rem;
}

body nav .ul-pad-final {
  padding-block: 1rem;
}

body #toppagebtn {
  position: fixed;
  bottom: 1%;
  right: 1%;
  opacity: .1;
  -webkit-transition: .3s;
  transition: .3s;
}

body #toppagebtn:hover {
  opacity: 1;
}

body .deal-box {
  background-color: #55c7fc;
  height: 90vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

body .deal-box .deals {
  height: 64vh;
  margin: 1rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - var(--scrollbar-height));
  min-width: 100vw;
  scroll-snap-align: start;
  font-size: 3.5ch;
}

body #container {
  width: 65%;
  margin: 10rem auto;
  border: 1em solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #container #box-1-0 {
  background-color: #ff3b3b;
  text-align: center;
}

body #container #box-1-0 h1 {
  font-size: 2em;
  padding: 1.2em;
}

body #container #box-1-0 #box-1-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body #container #box-1-0 #box-1-1 .box-1-2 {
  color: white;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  /*.mid{
                        border-block: .25em solid $third-color;
                    }*/
}

body #container #box-1-0 #box-1-1 .box-1-2 .lil-box {
  width: 100%;
  height: 17em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #container #box-1-0 #box-1-1 .box-1-2 .lil-box .first {
  width: 66%;
}

body #container #box-1-0 #box-1-1 .box-1-2 .lil-box .second {
  width: 33%;
}

body #container #box-1-0 #box-1-1 .box-1-2 .rowrev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body #container #box-1-0 .simple-txt {
  width: 80%;
  margin: auto;
  font-size: 1.5rem;
  padding-bottom: 3rem;
}

body #container #box-2-0 {
  background-color: #ff893b;
  padding-block: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

body #container #box-2-0 .box-2-1 {
  width: 45%;
  line-height: 1.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body #container #box-2-0 .box-2-1 p {
  margin-top: 1em;
}

body #container #box-2-0 h1 {
  font-size: 2em;
}

body #container #box-2-0 iframe {
  width: 35em;
  height: 20em;
}

body #container #join-our-team {
  background-color: #ffff77;
  text-align: center;
  padding-block: 5em;
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #container #join-our-team h1 {
  font-size: 2em;
}

body #container #join-our-team a {
  background-color: white;
  color: #fc8a55;
  font-weight: 900;
  font-size: 1em;
  border: 8px solid black;
  border-radius: 20px;
  padding: 1em;
  text-transform: uppercase;
  width: 15em;
  /*margin-top: 2em;*/
  -webkit-transition: .09s;
  transition: .09s;
}

body #container #join-our-team a:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

body #container #join-our-team #header {
  margin-inline: 4em;
}

body footer {
  background-color: #fc8a55;
  padding-top: 1em;
  text-transform: uppercase;
  width: 100%;
}

body footer, body footer h2 {
  font-size: 1.1em;
}

body footer a {
  color: white;
}

body footer a:hover {
  color: #c7fc55;
}

body footer .ftr-bxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body footer #socials {
  padding-block: 1em;
}

body footer #socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body footer #socials img {
  height: 3.5em;
  background-color: black;
  padding: 1em;
  border: 3px solid black;
  border-radius: 10% 40%;
}

body footer #socials img:hover {
  border: 3px solid #c7fc55;
}

body footer #abs-btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer #abs-btm #ftr-logo-bx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer #abs-btm #ftr-logo-bx img {
  height: 2em;
}

.flex-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.banner {
  /*height: 40vh;*/
  width: 100%;
  color: white;
  background-color: #ff3b3b;
}

.banner #banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vh;
  width: 80%;
  margin: auto;
}

.banner #banner-container img {
  height: 10rem;
  /*height: 9em;*/
}

.banner #banner-container h1 {
  font-size: 7rem;
  /*font-size: 9em;*/
}

.banner #banner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 4em;
}

.block {
  background-color: darkgray;
}

.box {
  background-color: rgba(0, 0, 0, 0.25);
  /*height: 12rem;
    width: 12rem;*/
  border: 2px white solid;
}

#shop-container {
  width: 70%;
  margin: auto;
  /*display: flex;
    justify-content: center;*/
}

.shop-products {
  background-color: rgba(255, 0, 0, 0.315);
  width: 36rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop-products a:hover {
  background-color: rgba(0, 0, 255, 0.315);
}

.form {
  width: 80%;
  line-height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form input {
  width: 100%;
  font-size: 1em;
  border: none;
  padding: .5em 0 .5em 1em;
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
}

.form .input_btn {
  background-color: white;
  color: #fc8a55;
  font-weight: 900;
  font-size: 1em;
  border: 8px solid black;
  border-radius: 20px;
  padding: 1em;
  text-transform: uppercase;
  width: 15em;
  margin: 2em auto 2.3em auto;
  -webkit-transition: .09s;
  transition: .09s;
}

.form .input_btn:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
